body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
  }
  
  .slide {
    width: 100vw;
    /* height: 100vh; */
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    overflow: hidden;
  }
  
  .section30 {
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .section30 {
    background-image: url('https://i.pinimg.com/originals/d9/67/28/d96728b92ce2416dc87921d2ac48bebb.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .container {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
  }
  
  h1 {
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  #game-and-results {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: 20px 0;
  }
  
  #animationArea {
    width: 70%;
    height: 800px;
    border: 1px solid #ccc;
    background-color: #000;
  }
  
  #teamResults {
    width: 25%;
    margin-left: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 10px;
    text-align: left;
    height: auto;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  input {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px 20px;
    background-color: #636df0;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  canvas {
    width: 100%;
    height: 100%;
  }
  
  #timerControls {
    position: fixed;
    bottom: 140px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    display: none;
  }
  
  #timerControls input {
    width: 60px;
    padding: 8px;
    margin: 0 5px;
    font-size: 18px;
    border-radius: 5px;
  }
  
  #startTimer, #resetTimer {
    padding: 8px 15px;
    background-color: #636df0;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    margin: 0 5px;
  }
  
  #resetTimer {
    background-color: #f06363;
  }
  
  #timer {
    position: fixed;
    top: 30px;
    left: 30px;
    transform: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px 40px;
    border-radius: 10px;
    font-size: 150px;
    font-weight: bold;
    z-index: 1000;
    display: none;
  }
  
  #pageInfo {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
  }